.idea
/client/node_modules
/client/.pnp
/client/.pnp.js

/coverage

/build

/client/.DS_Store
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/.venv
/server/config.toml
/server/files
/server/test/wordlist.txt
/server/.env
__pycache__/
.pyc
